@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Sans+Pro:wght@300;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-decoration-color: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: black;
  color: white;
  text-align: center;
  transition: 0.3s;
  overflow-x: hidden;
  background-image: url(images/image-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
html{
  scroll-behavior: smooth;
}

h2{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
}
#PagrVieta{
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  top: 0;
  background-color: #30486bc6;
  width: 100vw;
  margin: 10px;
  padding: 10px;
  backdrop-filter: blur(2px);
  border: 1px solid #30486bc6;
  overflow-wrap: break-word;
}
.pirmas{
  margin-top: 75px;
}
#trecias h2{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 87vw;
  text-align: center;
}
#FAQKlausimai li{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 1.5em;
}
#footer {
  height: 75px;
  display: flex;
  background-color: #30486bc9;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  align-items: center;
}
#footer-text {
  margin: auto;
}
#pirmas {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  transform: scale(1.5);
  font-size: 32px;
  margin-top: 20px;
}

#MenuBtn {
  cursor: pointer;
  font-size: 32px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  transition: opacity 0.3s ease;
}
#MenuBtn.hidden {
    opacity: 0;
  }
  #Pagrindinis,
  #Apie,
  #Kontaktai,
  #FAQ{
    cursor: pointer;
  }
#sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -300px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out;
  z-index: 998;
}

#sidebar.open {
  transform: translateX(300px);
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li a {
  color: white;
  display: block;
  padding: 20px;
  font-size: 20px;
}

#sidebar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#sidebar .button-section {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar .button-section button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 10px auto;
}
button.close-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    color: inherit;
  }


  @media (max-width: 768px) {
    h2{
      font-size: 1.5em;
    }
    body{
        overflow-x: hidden;
    }
    #MenuBtn {
      font-size: 24px;
    }
  
    #sidebar {
      width: 100vw;
      left: -100vw;
    }
  
    #sidebar.open {
      transform: translateX(100vw);
    }
  
    #sidebar ul li a {
      font-size: 16px;
    }
  
    h1 {
      transform: scale(2);
      margin-top: 20px;
    }
  
    body {
      background-size: cover;
    }
  
    h1 {
        font-size: 0.75em;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

@media (max-width: 320px) {
  #MenuBtn {
    font-size: 24px;
  }

  #sidebar {
    width: 100vw;
    left: -100vw;
  }

  #sidebar.open {
    transform: translateX(100vw);
  }

  #sidebar ul li a {
    font-size: 16px;
  }
  h2{
    font-size: 1.5em;
  }

  body{
    background-size: cover;
  }
  
  h1 {
    font-size: 0.7em;
    margin: 20px auto;
    width: 30vw;
  }
  #PagrVieta {
    overflow-wrap: break-word;
  }
  
  .pirmas{
    margin-top: 105px;
  }
}
