@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Geologica:wght@800&family=Poppins:ital,wght@0,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #0c0a20;
  
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #272728;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#e66129, #b4a71a);
  border-radius: 10px;
  
}
#LogoMob{
  display: none;
  top: 15px;
  z-index: 100;
  position: fixed;
  height: 10vw;
  width: 10vw;
  cursor: pointer;
  margin-left: 45%;
}
#LogoNav{
  width: 33px;
  height: 33px;
  margin-right: 20px;
  cursor: pointer;
  position: absolute;
  left: 0;
}
#Logo{
  height: 35px;
  width: 35px;
  margin-bottom: 50px;
  cursor: pointer;
}
body {
  opacity: 0;
  transition: 1s opacity;
}

body.fade-out {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-decoration-color: none;

}

body {
  font-family: "Exo 2", sans-serif;
  background: black;
  color: white;
  text-align: center;
  transition: 0.3s;
  overflow-x: hidden;
  background: url(images/Background.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -10;
}
body::before{
    backdrop-filter: blur(15px);
    content: "";
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    width: 500%;
    z-index: -9;
}
html {
  scroll-behavior: smooth;
}

h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

#trash,
#trash2,
#trash3 {
  visibility: hidden;
}
#Navigation {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: start;
  align-items: start;
  font-size: 1.5em;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-bottom: 100px;
  z-index: 1;
  text-align: end;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
}
#Navigation a {
  cursor: pointer;
}
#ApieNav,
#KontaktaiNav,
#FAQNav {
  margin-left: 5%;
}

#FAQNav
{
  margin-right: 3%;
}

#FAQKlausimai div {
  transition: color 0.3s;
  display: inline-block;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5em;
  background-color: #272728;
  border-radius: 15px;
  border: 1px solid #272728;
  cursor: pointer;
  opacity: 0.8;
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 2s ease 0.3s;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}
label {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #e66129, #b4a71a);
  color: #fff;
  text-align: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(90deg, #a9471e, #857c13);
}

input,
textarea {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 2rem;
}

textarea {
  resize: vertical;
}
#PirmEil1,
#PirmEil2,
#PirmEil3{
  margin-right: 5%;
}

#answer1,
#answer2,
#answer3,
#answer4,
#answer5,
#answer6 {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 2s ease 0.3s;
}


#footer {
  display: flex;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  align-items: center;
}
#footer-text {
  margin: auto;
}

#pirmas,
#antras {
  line-height: 35px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  transform: scale(1.5);
  font-size: 32px;
  margin-top: 10px;
  z-index: -1;
}
.pirmas,
.antras {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* #navigation{
  position: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  top: 0;
  background-color: #30486bc6;
  width: 100%;
  max-width: 100%;
  margin: 15px;
  padding: 15px;
  backdrop-filter: blur(2px);
  border: 1px solid #30486bc6;
  overflow-wrap: break-word;
  z-index: 1;
} */
#PagrVieta {
  margin-top: 75px;
  height: 50px;
  margin-bottom: 10px;
  max-width: 100vw;
  justify-content: center;
}
#FAQVieta,
#KontakVieta,
#ApieVieta {
  margin-top: 50px;
}

#MenuBtn {
  display: none;
  cursor: pointer;
  font-size: 42px;
  position: fixed;
  top: 20px;
  right : 20px;
  z-index: 100;
  transition: opacity 0.3s ease;
}
#MenuBtn.hidden {
  opacity: 0;
}
#Pagrindinis,
#Apie,
#Kontaktai,
#FAQ {
  cursor: pointer;
}
#sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -300px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out;
  z-index: 998;
}


#sidebar.open {
  transform: translateX(300px);
}
.slide-in{
  animation: slide-in 2s;
}
@keyframes slide-in{
  0%{
    opacity: 0;
    margin-left: -200px;
  }100%{
    opacity: 1;
    margin-left: 0%;
  }
}
#sidebar ul {
  list-style: none;
  padding: 0;
}
#BtnBackground {
  display: none;
}
#sidebar ul li a {
  color: white;
  display: block;
  padding: 20px;
  font-size: 20px;
}
#PagrVietaMob,
#PagrVietaMob2 {
  display: none;
}
#PagrVietaMob {
  margin-top: 80px;
}

#sidebar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#sidebar .button-section {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar .button-section button {
  font-size: 24px;
  padding: 10px 20px;
  margin: 10px auto;
}

button.close-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: 42px;
  color: inherit;
  position: absolute;
  top: 0;
  right: 0;
}

.trecias{
  white-space: pre-line;
  text-align: left;
}
#trecias h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}
/* #Susisiekite{
  position: absolute;
  display: flex;
  text-align: start;
  z-index: 1;
  font-size: 20px;
  margin-left: 70px;
  white-space: pre-wrap;
}
#txtArea{
  margin-top: 0px;
  margin-bottom: 0px;
}
textarea {
  z-index: 1;
  resize: none;
  margin-top: 50px;
  margin-left: 20px;
  font-size: 26px;
  margin-right: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: none;
}
.siusti{
  display: none;
}
#siusti{
  width: 3vw;
  border-radius: 5px;
  border: none;
  align-self: end;
  margin: 20px;
  margin-right: 3.5vw;
  transform: scale(2);
  cursor: pointer;
} */

@media (max-width: 1080px) {
  #FAQNav{
    margin-right: 23%;
  }
  #siusti{
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  #MenuBtn {
    display: flex;
    transform: scale(1.5);
  }
  #LogoMob{
    align-items: center;
    display: flex;
    height: 6vw;
    width: 6vw;
    margin-left: 47.5%;
    top: 10px
  }
  #FAQKlausimai div{
    width: 80%;
  }
  #BtnBackground {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height: 65px;
    z-index: 99;
  }
  #MenuBtn::before {
    z-index: 9999;
  }
  #Navigation {
    display: none;
  }

  h2 {
    font-size: 1.5em;
  }
  html {
    overflow-x: hidden;
  }
  #MenuBtn {
    font-size: 24px;
  }

  #sidebar {
    width: 100%;
    left: -100%;
  }

  #sidebar.open {
    transform: translateX(100%);
    height: 100%;
  }

  #sidebar ul li a {
    position: static;
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }

  h1 {
    transform: scale(3);
    margin-top: 20px;
  }

  body {
    background-size: cover;
  }

  h1 {
    font-size: 0.75em;
    white-space: pre-wrap;
    word-break: break-all;
  }
  #PagrVieta {
    display: none;
  }
  #PagrVietaMob,
  #PagrVietaMob2 {
    display: flex;
    justify-content: center;
    transform: scale(3);
    line-height: 16px;
  }
  #FAQKlausimai {
    font-size: 0.75em;
  }
}
@media (max-width: 425px){
  .form{
    margin: 20px;
    margin-top: -50px;
  }
}
@media (max-width: 320px) {
  /* .form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}
label {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #e66129, #b4a71a);
  color: #fff;
  text-align: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(90deg, #a9471e, #857c13);
}

input,
textarea {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 2rem;
}

textarea {
  resize: vertical;
} */
 
  html {
    overflow-x: hidden;
  }
  #MenuBtn {
    font-size: 20px;
  }
  #trash,
  #trash2,
  #trash3 {
    margin-top: -90px;
  }
  #sidebar {
    width: 100%;
    left: -100%;
  }

  #sidebar.open {
    transform: translateX(100%);
  }

  #sidebar ul li a {
    font-size: 16px;
  }
  h2 {
    font-size: 1em;
    line-height: 28px;
  }

  body {
    background-size: cover;
  }
  #PagrVieta {
    display: none;
  }
  #PagrVietaMob,
  #PagrVietaMob2 {
    display: flex;
    justify-content: center;
    transform: scale(2);
    line-height: 10px;
  }
  #KontakVieta,
  #ApieVieta {
    font-size: 0.6em;
    margin: 20px auto;
    word-break: break-word;
    max-width: 90%;
    margin-top: 30px;
  }
  #KontakVieta {
    margin-top: 40px;
  }
  .pirmas {
    margin-top: 50px;
  }
  .antras {
    margin-top: 30px;
  }
  #FAQKlausimai {
    font-size: 0.75em;
  }
  #footer-text {
    font-size: 0.75em;
  }
  #LogoMob{
    height: 10vw;
    width: 10vw;
  }
}
